* {
  color: rgb(126, 62, 215);
  font-family: "Silkscreen", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(102, 184, 162);
}
header {
  height: 10%;
  display: flex;
  justify-content: space-between;
  margin-right: 5%;
  border: 2px solid white;
  border-radius: 20px;
}
.logo {
  display: flex;
  width: 20%;
}
.logo img {
  width: 100px;
}
.logo h1 {
  display: inline;
  font-size: 1.5em;
  position: relative;
  bottom: 80%;
}
.settings {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 50%;
}
#displayUserName {
  margin-right: 20px;
  padding-right: 40px;
  font-size: 1.5em;
}
#score {
  width: 200px;
  font-size: 1.5em;
}
.life {
  width: 10%;
}

.life svg {
  width: 20%;
  height: 60%;
  position: relative;
  left: 8%;
}

.hide {
  display: none;
}
#player {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  bottom: 0px;
  left: 10%;
}
#obstacle {
  position: absolute;
  bottom: 0px;
  left: 100vw;
  /* box-shadow: inset 5px 5px 20px 2px white; */
}

@keyframes obstacleMove {
  from {
    left: 120vw;
  }
  to {
    left: -500px;
  }
}

.jump {
  animation: jump 1000ms;
}

.modal {
  position: fixed;
  z-index: 10;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  padding: 30px;
  overflow-y: auto;
  display: flex;
}
.modal__main {
  width: 50%;
  background-color: rgb(255, 209, 255);
  position: relative;
  margin: auto;
  cursor: default;
}
.actionModal {
  background-color: aliceblue;
}

.modals{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1em;
}

.modals button{
  width: 100%;
}

#timer h2{
  font-size: 5em;
}

.gameOver__close {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  padding: 0;
  line-height: 0;
  outline: 1px solid transparent;
  border-radius: 3px;
}
.gameOver__close:focus-visible {
  outline-color: gray;
}

.gameOver__title {
  font-size: 3em;
}

/* @keyframes jump {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 200px;
  }
  100% {
    bottom: 0px;
  }
} */
